<head>
<meta charset="UTF-8">
<title>website exercise</title>
	<style>
		body {font-family: Arial, sans-serif;
		min-height:100px;
		display:block;}
		
	*{margin:0;
		padding:0;
		box-sizing: border-box;
		}
	header {background: black;
		width:auto;
		padding: 20px;
		color: white;
		text-align: center;
		margin:0px
		
		}
	nav {background: #444;
		padding: 10px;
		text-align:center;
		}
	nav a{
			color: white;
			text-decoration: none;
			padding: 10px 15px;
			display: inline-block;
		}
		a:hover{
			background-color:#777;
		}
			

			
			
	
	.container{
	width:100%;
	overflow:hidden;
	padding:20px
		
		}
	article{
		
		border-style:solid;
		border:thin;
		height: 400px;
		border-color:#000000;
		background:#D0D0D0;
		width:28%;
		padding:20px;
		float: left;}
<img src="file:images/20250214054730_1.jpg" width="480" height="240" alt="" image-align: center;/>
	sidebar{
		border-style:solid;
		border:thin;
		height:200px;
		border-color:#000000;
		background:#999;
		width:28%;
		padding:20px;
		float: right;
		}
	footer{	
		color: white;
		background: black;
		padding: 20px;
		clear: both;
		text-align: center;
		}
				

		}
	</style>
</head>

<body>
	<header><h1>Header Content</h1></header>
<nav>
	<a href="#">Home</a>
	<a href="#">About</a>
	<a href="#"> Services</a>
	<a href="#"> Contact</a>
	</nav>
<article>article content here</article>
<sidebar>sidebar content here</sidebar>
	<footer>My Site</footer>
</body>
</html>
.image1 {
}
.img {
}
